GOOGLE_API_KEY=""
GROQ_API_KEY=""
Page_index_api=""

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

PUSHOVER_USER=""
PUSHOVER_TOKEN=""